.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.draftJsToolbar__toolbar__dNtBH{
  display: flex;
}

.draftJsToolbar__buttonWrapper__1Dmqh{
  min-height: 30px;
}

.button{
  min-height: 33px;
}
